# Large dataset directories
dataset/
data/

# Python caches
__pycache__/
*.py[cod]
*.class
*.so

# Environments
.env
.venv
env/
venv/

# Pytest & Jupyter checkpoints
.pytest_cache/
.ipynb_checkpoints/

# Large submission archives
*.zip

# Operating system files
.DS_Store
Thumbs.db